examples/bulbLightStateWithColor.json
[{"id":"cbda9fb9.be5f9","type":"tab","label":"Bulb Light State With Color Example","disabled":false,"info":"Send booleans, strings, or JSON to bulb to control it's light state.\n- `true` - Turns bulb on.\n- `false` - Turns bulb off.\n-  Set payload to string `temperature:50`\n-  Or JSON `{\"temperature\": 50}`\n-  Hue, Saturation, Brightness support, `HSB`, for color changing bulbs via JSON:\n\n`{\n  \"hsb\": {\n    \"hue\": 240,\n    \"saturation\": 15,\n    \"brightness\": 100\n  }\n}\n`\n"},{"id":"cae52e4c.73a48","type":"smart-bulb","z":"cbda9fb9.be5f9","name":"KL130(EU)","device":"XXX.XXX.X.XX","interval":"7500","eventInterval":"2000","x":610,"y":120,"wires":[["dc2eb40d.15d448"]]},{"id":"e15bf962.18b418","type":"inject","z":"cbda9fb9.be5f9","name":"turnOnBulb","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":20,"wires":[["cae52e4c.73a48"]]},{"id":"2bb65180.5b6ac6","type":"inject","z":"cbda9fb9.be5f9","name":"turnOffBulb","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":55,"wires":[["cae52e4c.73a48"]]},{"id":"dc2eb40d.15d448","type":"debug","z":"cbda9fb9.be5f9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":780,"y":120,"wires":[]},{"id":"712eec1a.96c874","type":"inject","z":"cbda9fb9.be5f9","name":"Set HSB [Color Bulbs Only]","topic":"","payload":"{\"hsb\":{\"hue\":23,\"saturation\":100,\"brightness\":100}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":100,"wires":[["cae52e4c.73a48"]]},{"id":"6b1a2946.44d9e8","type":"inject","z":"cbda9fb9.be5f9","name":"tempHigh","topic":"temperature","payload":"{\"temperature\":6400}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":260,"wires":[["cae52e4c.73a48"]]},{"id":"d5c6dce2.2b6dc","type":"inject","z":"cbda9fb9.be5f9","name":"invalidNode [See debug panel]","topic":"","payload":"temperature:6700","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":300,"wires":[["cae52e4c.73a48"]]},{"id":"b4586ef.c73ba9","type":"inject","z":"cbda9fb9.be5f9","name":"tempLow","topic":"","payload":"temperature:2750","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":220,"wires":[["cae52e4c.73a48"]]},{"id":"c4312c84.7796a","type":"inject","z":"cbda9fb9.be5f9","name":"brightnessMax","topic":"","payload":"brightness:100","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":140,"wires":[["cae52e4c.73a48"]]},{"id":"3f5c3458.218c24","type":"inject","z":"cbda9fb9.be5f9","name":"brightnessMin","topic":"","payload":"{\"brightness\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":180,"wires":[["cae52e4c.73a48"]]}]
