examples/bulbLightState.json
[{"id":"b4237a92.646ae","type":"tab","label":"Bulb Light State Example","disabled":false,"info":"Send booleans or strings to `smart-bulb` to control it's light state.\n- `true` - Turns bulb on.\n- `false` - Turns bulb off.\n- `switch` - Switch bulb on/off."},{"id":"76913376.f23c64","type":"smart-bulb","z":"b4237a92.646ae","name":"LB120(EU)","device":"192.168.100.17","interval":"7500","eventInterval":"2000","x":300,"y":55,"wires":[["eaec1692.f7e7f8"]]},{"id":"e3cde7a3.74d1","type":"inject","z":"b4237a92.646ae","name":"","topic":"turnOnBulb","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":20,"wires":[["76913376.f23c64"]]},{"id":"69f81c6a.6195fc","type":"inject","z":"b4237a92.646ae","name":"","topic":"tunOffBulb","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":55,"wires":[["76913376.f23c64"]]},{"id":"8a3cf4b7.90ebd","type":"inject","z":"b4237a92.646ae","name":"","topic":"switchBulb","payload":"switch","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":90,"wires":[["76913376.f23c64"]]},{"id":"eaec1692.f7e7f8","type":"debug","z":"b4237a92.646ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":55,"wires":[]}]